<div class="flex w-full h-full items-center flex-col space-y-4" data-controller="chess">
  <div class="w-2/4 h-2/4" id="board"></div>
  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" id="startBtn" data-action="click->chess#start">Start Position</button>
</div>

